.Hero {
    display: flex;
}

.Hero-l {
    position: relative;
    max-width: 424px;
}

.Hero-l img {
    height: 300px;
    position: absolute;
    top: -24px;
    left: -120px;
}

.text-h {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.text-h h1 {
    width: 480px;
    font-size: 54px;
    font-family: MoscowMD;
}

.title-h {
    color: #D00E46;
    font-family: MoscowMD;
    display: block;
}

.text-h p {
    font-size: 18px;
    font-family: MoscowMD;
}

.Hero-r {
    right: 0;
    position: absolute;
    top: 0;
}

.hero-img {
    object-fit: cover;
    height: 400px;
    width: 624px;
}

.after {
    bottom: -1px;
    left: -1px;
    position: absolute;
    width: 280px;
    z-index: 1;
}

/*Advantages*/

.Advantages {
    margin-bottom: 250px;
}

.Ad-t {
    text-align: center;
}

.Ad-t h1 {
    margin-bottom: 12px;
    color: #D00E46;
    font-size: 32px;
    font-family: MoscowMD;
}

.Ad-t p {
    font-size: 18px;
}

.Ad-b {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Ad-icon {
    position: relative;
    width: 33%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 24px 0;
}

.line_decor {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
}

/*.Ad-icon::after {*/
/*    overflow: hidden;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: -50%;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    content: "";*/
/*    background: url("../svg/SVG/lin_frame_L_gc.svg") no-repeat left bottom;*/
/*}*/

.Ad-icon p {
    text-align: center;
    font-size: 12px;
    width: 45%;
    font-family: MoscowMD;
}

.Ad-icon svg {
    width: 80px;
}

/*Formats*/

.Formats {
    background-color: #eaeaea;
    width: 100%;
    position: relative;
}

.Fo-l {
    z-index: 1;
    display: flex;
    flex-direction: column;

}

.Fo-l h1 span {
    display: block;
    color: #D00E46;
    font-family: MoscowMD;
}

.Fo-l h1 {
    width: 48%;
    position: relative;
    font-size: 28px;
    font-family: MoscowMD;
}


.Fo-l h1::before {
    margin-top: 14px;
    z-index: 2;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    background: url("../svg/lin_01_decor_h_lev.svg") no-repeat left bottom;
}

.Fo-l-lists {
    margin-top: 40px;
    display: flex;
    gap: 48px;
}

.Fo-l-lists ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    font-size: 12px;
}

.Fo-l-lists ul li div {
    width: 12px;
    height: 12px;
    background-color: #D00E46;
    border-radius: 100%;
}

.Fo-l .btn {
    margin-top: 48px;
    width: 172px;
    height: 40px;
    font-size: 12px;
}

.Formats .container img {
    position: absolute;
    right: 0;
}

.Formats .container {
    display: flex;
    align-items: center;
}

.Congress {
    padding: 100px 0;
}

.Co-text h1 span {
    display: block;
    color: #D00E46;
    font-family: MoscowMD;
    font-size: 32px;
    line-height: 44px;
}

.Co-text h1 {
    text-align: center;
    font-size: 16px;
    font-family: MoscowMD;
}

.Co-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 80px;
}

.Co-text svg {
    width: 30%;
}

/*Congress*/

.Co-boxs {
    margin-top: 100px;
}

.Co-box {
    margin-bottom: 100px;
}

.Co-box-title {
    color: #D00E46;
    font-size: 44px;
    line-height: 56px;
    font-family: MoscowMD;
    border-bottom: 1px solid #929292;
    padding-bottom: 16px;
    margin-bottom: 20px;
}

.Co-box-l-t div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.Co-box-l-t div h1 {
    font-size: 54px;
    font-family: MoscowMD;
}

.Co-box-l-t div p {
    position: relative;
    bottom: -10px;
    font-size: 32px;
    font-family: MoscowMD;
}

.Co-box-l-t div p span {
    position: absolute;
    font-size: 20px;
}

.Co-box-l-t-b {
    color: #D00E46;
    font-family: MoscowMD;
    font-size: 16px;
}

.Co-box-l-t-b span {
    color: #3c3849;
}

.Co-box-l-m {
    margin-top: 36px;
    display: flex;
    gap: 68px;
}

.Co-box-l-m-t {
    width: 200px;
}

.Co-box-l-m li h1 {
    color: #c2c0c6;
    font-family: MoscowMD;
    font-size: 12px;
}

.box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.Co-box-l-m li p {
    font-size: 12px;
    margin-bottom: 24px;
}

.Co-box-l-m {
    margin-bottom: 24px;
}


/*???*/

.forms {
    padding: 1px 0;
    box-shadow: 0px -12px 8px -4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -12px 8px -4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -12px 8px -4px rgba(0, 0, 0, 0.3);
}

.form-text {
    margin-bottom: 24px;
    text-align: center;
}

.form-text p {
    color: #777;
}

.form-text h1 {
    color: #D00E46;
    font-family: MoscowMD;
    font-size: 28px;
    line-height: 56px;
    margin-top: 24px;
}

.form-text-select {
    display: flex;
    justify-content: center;
}

.form-text-select button {
    color: #c2c0c6;
    font-size: 22px;
    margin: 10px;
}

.form-text-select button:hover {
    color: #3c3849;
}

.form-text-select-button-ac {
    color: #3c3849;
}

.red-line {
    width: 20%;
    margin: 10px auto 30px;
}

.form-column {
    display: flex;
    justify-content: center;
}

.form-column img {
    width: 163px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -25px;
    padding: 0px 100px 0px 100px;
}

.form-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form input {
    width: 350px;
    margin: 25px 0;
    display: block;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #777;
}

.form textarea:focus, input:focus {
    outline: none;
}

.form select {
    width: 350px;
    display: block;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid #777;
}

.form textarea {
    border: 1px solid #3c3849;
    width: 100%;
    height: 226px;
    font-size: 18px;
    border-radius: 15px;
    padding: 24px;
    margin-bottom: 84px;
}


.form p {
    text-align: center;
    margin-top: 50px;
    width: 780px
}


.btn__small {
    width: 280px;
    height: 50px;
}

.btn__Mdsmall {
    width: 280px;
    height: 58px;
}

.btn__red {
    background-color: #D00E46;
}

.btn__red:hover {
    background-color: #6b132d;
}

.btn__pri {
    background-color: #3c3849;
}

.btn__pri:hover {
    background-color: #D00E46;
}


.btn__pris {
    background-color: #c9c9c9;
}

.btn__pris:hover {
    background-color: #D00E46;
}


.btn {
    color: #ffff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    transition: .2s all ease-out;
    font-family: MoscowDB;
    cursor: pointer;
    font-size: 20px;
}